
#divWorkarea { background-color:#f7f7f7; padding:0 10px 0 10px; }

.navbar-default {
    color:#000000;            
    background-color:#F7F7F7 !important;
    border:none;
    border-radius: 0px;
}
        
.navbar { border-radius:0px; border:none; } 
                              
.tabactive {
    color: #FFFFFF !important;
    background-color: #a4c3b6;
    font-weight: bold
}

.tabactive > a {
    color: #FFFFFF !important;
}

.navbar-inverse .navbar-nav > li > a { color: #ffffff !important; }
.navbar-inverse .navbar-nav > li > a:hover { color: #7A7A7A !important; }

       
.navbar-default .navbar-nav > li:hover {
    color:#000000;
    background-color: #C6C6C6;
}
       
#divFooter { background-color:#222222; }

.navbar { margin-bottom: 0px; }
.col-sm-12 { padding-left: 0px; padding-right:0px; }

#banner { background-color:#222222; }
